@charset "UTF-8";
/* CSS Document */
#menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menu ul a{
	display:block;
	color: #ffffff;
	background-color:#003366;
	width: 9em;
	padding:3px 12px 3px 8px;
	text-decoration:none;
	border-bottom: 1px solid #fff;
	font-weight:bold;
}
#menu ul a:hover{
	background-color:#336699;
	color:#ffffff;
}

#menu ul li li a{
	display:block;
	color:#ffffff;
	background-color: #6699cc;
	width: 9em;
	padding: 3px 3px 3px 17px;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
	font-weight: normal;
}